<h1>Breakpoint Consumer Component</h1>

<h2>Active Breakpoints inside breakpoint-consumer without setter:</h2>
<ul>
    <li *ngFor="let breakpoint of activeBreakpoints; let i=index">
        {{breakpoint}}
    </li>
</ul>

<h2>Active Breakpoints inside breakpoint-consumer with setter:</h2>
<ul>
    <li *ngFor="let breakpoint of activeBreakpointsSetter; let i=index">
        {{breakpoint}}
    </li>
</ul>